/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cantarell', sans-serif;
    background: linear-gradient(to right, #7360e7, #1d9eff);
}

/* Container */
.container {
    max-width: 1170px;
    margin: 0 auto;
    height: 100vh;
}

.container img {
    width: 600px;
}

/* app */

.container-app {
    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    display: flex;
    background: #fff;
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.4));
    width: 100%;
    min-height: 600px;
}

/* left nav */

.left-nav {
    width: 300px;
    border-right: 1px solid #ccc;
}

.left-nav ul  {
    list-style: none;
}

/* to-do */

.todo-wrapper {
    width: 100%;
}

.top-title {
    height: 100px;
    background-image: url("../img/app-background.jpg");
    background-position: center;
    background-size: cover;
    border-bottom: 1px solid #ccc;
}


/* to do content */
.todo-content ul {
    list-style: none;
}

.todo-element i {
    cursor: pointer;
}

.check {
    text-decoration: line-through;
}



/* templates */

.template {
    display: none;
}

